/*h1 {
  background-color: green;
}
#david-h1 {
  background-color:red;
}

.fancy-border {
  border:3px dashed red;
}

.blue-text {
  color:blue;
}

li[title*=lem]{
  background-color: yellow;
}
input[type="checkbox"]{
  box-shadow: 2px 2px 2px red;
}
.class1 {

}
.class2 {

}*/
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap:nowrap;
  align-items:flex-start;
  align-content: space-between;
}

.box {
  margin: 10px;
  height: 100px;
  width: 100px;
  box-shadow: 5px 5px 5px black;
  background-color: blue;
}
.box2 {
  margin: 10px;
  height: 60px;
  width: 100px;
  box-shadow: 5px 5px 5px black;
  background-color: blue;
}
