@keyframes change-color {
  0% {background-color: red;}
  17%{background-color: orange; top:10px; left:10px;}
  34%{background-color: yellow; top:20px; left:20px;}
  51%{background-color: green; top:30px; left:30px;}
  68%{background-color: blue; top:40px; left:40px;}
  85%{background-color: indigo; top:50px; left:50px;}
  to {background-color: violet; top:60px; left:60px;}
}

.box-animation:hover {
  position: relative;
  animation-name: change-color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
